<!DOCTYPE html>
<html>
<head>
    <title>Mashup Generator</title>
</head>
<body>
    <h2>Create Mashup</h2>

    <form action="/create" method="post">

        Singer Name:<br>
        <input type="text" name="singer" required><br><br>

        Number of Videos:<br>
        <input type="number" name="videos" required><br><br>

        Duration (seconds):<br>
        <input type="number" name="duration" required><br><br>

        Email:<br>
        <input type="email" name="email" required><br><br>

        <input type="submit" value="Create Mashup">

    </form>
</body>
</html>